.selector {
    position: relative;
    bottom: 30px;

    display: inline-block;
    width: 200px;
    height: 40px;
    padding: 8px 10px;

    border-style: solid;
    border-width: 2px;
    border-radius: 5px;

    font-weight: bold;
    text-align: center;
}

.red-border {
    border-color: red;
    background: #ff9999;
}

.blue-border {
    border-color: dodgerblue;
    background: #9999ff;
}

input#btn_undo {
    position: relative;
    bottom: 28px;
    left: 9px;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:4px;
    border:2.5px solid #666666;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:24px;
    font-weight:bold;
    padding:10px 30px;
    text-decoration:none;
}
input#btn_undo:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
input#btn_undo:active {
    position:relative;
    bottom: 26px;
    left: 9px;
}

.quick-rules {
    position: relative;
    bottom: 350px;
    left: 495px;
}